In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("E:/Python Projects/shohreh/Shohreh_GitHub_Repository/NISTARPA-E Database/Zeolite-CO2 Data/10.1002adma.200601983.Isotherm10.csv", delimiter='\t')

In [32]:
columns=['temperature', 'pressureUnits', 'adsorptionUnits', 'DOI']
instant_values=[]
for col in columns:
    for index, row in df.iterrows():
        # Check if the row contains col information
        if col in str(row.values):
            col = (row.str.split(','))[0][1]
            value=col.strip('"')
            instant_values.append(col.strip('"'))

['196', 'bar', 'ml/g', '10.1002/adma.200601983']

In [8]:
# Function to search for adsorbent in all rows
def extract_adsorbent(dataframe):
    for i, row in df.iterrows():
        # Check if the row contains adsorbent information
        if 'adsorbent' in str(row.values):
            adsorbent= (df.iloc[i+2]).str.split(',')[0][1]
            return adsorbent.strip('"') # Remove quotes if present
    return None # Return None if adsorbent not found
    
adsorbent= extract_adsorbent(df)

Extracted adsorbent: Zeolite 4A

In [9]:
# Extract pressure from df
pressure_values=[]
for i, row in df.iterrows():
        # Check if the row contains adsorbent information
    if 'pressure' in str(row.values):
        list=(row.str.split(',')[0][1]).strip('" ')
        list=list.replace('bar', '').replace('pressure', '').strip()
        try:
            numeric_list= float(list)
            pressure_values.append(numeric_list)
        except ValueError:
            continue

[0.00685903, 0.0428689, 0.214345, 0.38925, 0.507568, 0.627601, 0.756208, 0.898533, 0.99113]

In [10]:
# Extract total_adsorption from df
adsorption_values=[]
for i, row in df.iterrows():
        # Check if the row contains adsorbent information
    if 'total_adsorption' in str(row.values):
        list=(row.str.split(',')[0][1]).strip('" ')
        list=list.replace('pressure', '').strip()
        try:
            numeric_list= float(list)
            adsorption_values.append(numeric_list)
        except ValueError:
            continue

[114.537, 154.185, 162.445, 162.445, 162.996, 164.097, 163.546, 162.996, 164.097]

In [25]:
main_df=pd.DataFrame(np.nan, index=range(len(adsorption_values)) , columns=['adsorbent', 'temperature(k)', 'pressure', 'pressureUnits', 'total_adsorption', 'adsorptionUnits', 'DOI'])

In [35]:
main_df['adsorbent'] = adsorbent
main_df['temperature(k)'] = instant_values[0]
main_df['pressure'] =  pressure_values
main_df['pressureUnits'] = instant_values[1]
main_df['total_adsorption'] = adsorption_values    
main_df['adsorptionUnits'] = instant_values[2]
main_df['DOI'] = instant_values[3]
main_df

,adsorbent,temperature(k),pressure,pressureUnits,total_adsorption,adsorptionUnits,DOI
0,Zeolite 4A,196,0.006859,bar,114.537,ml/g,10.1002/adma.200601983
1,Zeolite 4A,196,0.042869,bar,154.185,ml/g,10.1002/adma.200601983
2,Zeolite 4A,196,0.214345,bar,162.445,ml/g,10.1002/adma.200601983
3,Zeolite 4A,196,0.389250,bar,162.445,ml/g,10.1002/adma.200601983
4,Zeolite 4A,196,0.507568,bar,162.996,ml/g,10.1002/adma.200601983
5,Zeolite 4A,196,0.627601,bar,164.097,ml/g,10.1002/adma.200601983
6,Zeolite 4A,196,0.756208,bar,163.546,ml/g,10.1002/adma.200601983
7,Zeolite 4A,196,0.898533,bar,162.996,ml/g,10.1002/adma.200601983
8,Zeolite 4A,196,0.991130,bar,164.097,ml/g,10.1002/adma.200601983